body {
    background-image: url(img3/fond2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 11px 25px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    margin-bottom: 11px;
    padding: 2px;
    border: none;
}

#boton {
    background: rgb(35, 102, 165);
    color: #fff;
    padding: 9px;
}

#boton:hover {
    cursor: pointer;
}

@media (max-width:450px) {
    form {
        width: 100%;
    }
}